<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SAP_TEMP_APOGEOEntities" connectionString="metadata=res://*/SAP_TEMP_APOGEO.csdl|res://*/SAP_TEMP_APOGEO.ssdl|res://*/SAP_TEMP_APOGEO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sapserver\sql2012;initial catalog=SAP_TEMP_APOGEO;user id=SA;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>